@page
@model IndexModel
@{
    ViewData["Title"] = "Jordnær - Hjem";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til JORDNÆR</h1>
    <p>Find vores Facebook side <a href="https://www.facebook.com/profile.php?id=100023459705366">her</a>.</p>
</div>
