@page
@model IndexModel
@{
    ViewData["Title"] = "Jordnær - Hjem";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til JORDNÆR</h1>
    <p>Find vores Facebook side <a href="https://www.facebook.com/profile.php?id=100023459705366">her</a>.</p>
</div>


<div class="text-center">
    <p>Åbningstider:</p>
    <p>lørdag: 09:00 - 15:00</p>
    <p>søndag: 09:00 - 15:00</p>
    <p>Gadeledsvej 7, 3400 Hillerød</p>

</div>

<div class="text-center" style="color: green">
    <h2>Kom og smag vores nybagte brød! </h2> 
</div>